@use "../components/ElysiumUI/_config" as config;
@use "../components/ElysiumUI/_config/theme_colors" as colors;

html {
  --color-accent: #{config.$light-accent};
  --color-accent-secondary: #{config.$light-accent-secondary};
  --color-accent-tertiary: #{config.$light-accent-tertiary};
  --color-accent-quaternary: #{config.$light-accent-quaternary};
  --color-accent-base: #{config.$light-accent-base};
  --color-accent-text-primary: #{config.$light-text-primary};
  --color-accent-text-secondary: #{config.$light-text-secondary};
  --color-accent-text-tertiary: #{config.$light-text-tertiary};
}

html.dark {
  --color-accent: #{config.$dark-accent};
  --color-accent-secondary: #{config.$dark-accent-secondary};
  --color-accent-tertiary: #{config.$dark-accent-tertiary};
  --color-accent-quaternary: #{config.$dark-accent-quaternary};
  --color-accent-base: #{config.$dark-accent-base};
  --color-accent-text-primary: #{config.$dark-text-primary};
  --color-accent-text-secondary: #{config.$dark-text-secondary};
  --color-accent-text-tertiary: #{config.$dark-text-tertiary};
}

$color-accent: var(--color-accent);
$color-accent-secondary: var(--color-accent-secondary);
$color-accent-tertiary: var(--color-accent-tertiary);
$color-accent-quaternary: var(--color-accent-quaternary);
$color-accent-base: var(--color-accent-base);
$color-accent-text-primary: var(--color-accent-text-primary);
$color-accent-text-secondary: var(--color-accent-text-secondary);
$color-accent-text-tertiary: var(--color-accent-text-tertiary);

:root {
  --vp-c-default-1: #{$color-accent-text-primary};
  --vp-c-default-2: #{$color-accent-quaternary};
  --vp-c-default-3: #{$color-accent-tertiary};
  --vp-c-default-soft: #{$color-accent-secondary};

  --vp-c-brand-1: #{$color-accent};
  --vp-c-brand-2: #{$color-accent-secondary};
  --vp-c-brand-3: #{$color-accent-tertiary};
  --vp-c-brand-soft: #{$color-accent-quaternary};

  --vp-c-tip-1: #{$color-accent-tertiary};
  --vp-c-tip-2: #{$color-accent-secondary};
  --vp-c-tip-3: #{$color-accent};
  --vp-c-tip-soft: #{$color-accent-quaternary};

  // --vp-c-warning-1: #{$warning-7};
  // --vp-c-warning-2: #{$warning-5};
  // --vp-c-warning-3: #{$warning-6};
  // --vp-c-warning-soft: #{$warning-1};

  // --vp-c-danger-1: #{$danger-6};
  // --vp-c-danger-2: #{$danger-5};
  // --vp-c-danger-3: #{$danger-6};
  // --vp-c-danger-soft: #{$danger-1};

  --vp-c-text-1: #{$color-accent-text-primary};
  --vp-c-text-2: #{$color-accent-text-secondary};
  --vp-c-text-3: #{$color-accent-text-tertiary};

  // Button
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  // Custom Block
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  // --vp-custom-block-tip-code-bg: #{$color-accent-quaternary};
  // --vp-custom-block-warning-code-bg: #{$color-accent-tertiary};
}
