@import url("https://fonts.blue-archive.io/harmonyos-sans-webfont/harmonyos-sans-sc-400.css");
@import url("https://fonts.blue-archive.io/harmonyos-sans-webfont/harmonyos-sans-sc-700.css");

@font-face {
  font-family: "Wix Madefor";
  src:
    url("https://fonts.blue-archive.io/wix-madefor-adjusted/WixMadeforVF.woff2")
      format("woff2"),
    url("https://fonts.blue-archive.io/wix-madefor-adjusted/WixMadeforVF.woff")
      format("woff"),
    url("https://fonts.blue-archive.io/wix-madefor-adjusted/WixMadeforVF.ttf")
      format("truetype");
  font-display: swap;
  font-weight: 400 800;
}

@font-face {
  font-family: "HarmonyOS Sans SC Bold";
  src: local("HarmonyOS Sans SC Bold");
  font-weight: 700;
}

/* prettier-ignore */
$font-family-base: "Wix Madefor", "HarmonyOS Sans SC", "Microsoft YaHei", "PingFang SC", -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
/* prettier-ignore */
$font-family-mono: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier", "monospace";

:root {
  --vp-font-family-base: $font-family-base;
  --vp-font-family-mono: $font-family-mono;
}
