@use "color-variable" as *;
@use "fonts";

body {
  font-size: 16px !important;
  line-height: 24px;
  font-family: var(--vp-font-family-base) !important;
}

html.dark {
  figure img {
    filter: brightness(0.8);
  }
  .medium-zoom-image--opened {
    filter: brightness(1);
  }
}

kbd {
  background-color: var(--vp-c-bg-soft);
  border: solid 1px var(--vp-c-border);
  border-radius: 4px;
  padding: 0 4px;
}

.custom-block.info code {
  background-color: var(--arona-blue-1);
  border: solid 1px var(--arona-blue-3);
}

.edit-info.edit-info {
  display: none;
}

figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 8px;

  figcaption {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    color: var(--color-text-3);
    text-align: center;
  }
}

mark {
  background-color: var(--vp-c-brand-soft);
  padding: 0 4px;
  border-radius: 4px;
}

.spoiler {
  color: transparent;
  background-color: var(--vp-c-brand-3);
  padding: 0 4px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: help;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    background-color: transparent;
  }
}

a.title span,
.VPNavBarMenuLink.active,
.item h2.text,
.font-bold {
  font-weight: 700;
  font-family: "Wix Madefor", "HarmonyOS Sans SC Bold",
    var(--vp-font-family-base);
}

.vp-doc {
  [class*="language-"] code .highlighted {
    background-color: var(--arona-blue-1);
  }

  a {
    color: #{$color-accent-text-primary};
    text-decoration-color: #{$color-accent};
  }

  img,
  .arco-image {
    max-width: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.125s ease-in-out;

    &:hover {
      transform: scale(1.002);
      box-shadow: 0 0 20px var(--color-fill-shadow);
    }
  }

  h1 {
    margin: 0.67em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title,
  strong,
  .custom-block-title {
    font-weight: 700;
    font-family: "Wix Madefor", "HarmonyOS Sans SC Bold",
      var(--vp-font-family-base);
  }

  p {
    text-align: justify;
  }

  table {
    display: table;
    width: 100%;

    td {
      line-height: 22px;
    }

    th {
      &.arco-table-th {
        border: none;
      }
    }

    th,
    td {
      border: inherit;
    }

    tr {
      &:hover {
        background-color: var(--vp-c-bg-soft);
      }

      &:nth-child(2n) {
        background-color: inherit;
      }
    }
  }
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
