// Border
$border-radius-sm: 3px;
$border-radius-md: 6px;
$border-radius-lg: 8px;

// Transitions
$transition-normal: all 0.2s ease;

// Button Spaces
$button-spaces: (
  "mini": (
    "padding": 4px 12px,
    "font-size": 12px
  ),
  "small": (
    "padding": 6px 16px,
    "font-size": 14px
  ),
  "medium": (
    "padding": 8px 20px,
    "font-size": 16px
  ),
  "large": (
    "padding": 12px 24px,
    "font-size": 18px
  )
);

$tag-spaces: (
  "mini": (
    "padding": 0px 8px,
    "font-size": 12px
  ),
  "small": (
    "padding": 1px 10px,
    "font-size": 12px
  ),
  "medium": (
    "padding": 2px 12px,
    "font-size": 14px
  ),
  "large": (
    "padding": 3px 14px,
    "font-size": 14px
  )
);

// Component Spaces
$spinner-margin-right: 8px;
