// Light Theme Colors
$light-accent: #d19062;
$light-accent-secondary: #c9a785;
$light-accent-tertiary: #e9e0d7;
$light-accent-quaternary: #fbfaf8;
$light-accent-base: #fff;

$light-text-base: rgb(47, 40, 38);
$light-text-primary: rgba($light-text-base, 1);
$light-text-secondary: rgba($light-text-base, 0.75);
$light-text-tertiary: rgba($light-text-base, 0.45);

// Dark Theme Colors
$dark-accent: #ab8054;
$dark-accent-secondary: #9e7c51;
$dark-accent-tertiary: #837467;
$dark-accent-quaternary: #3c3834;
$dark-accent-base: #2f2826;

$dark-text-base: rgb(220, 220, 220);
$dark-text-primary: rgba($dark-text-base, 1);
$dark-text-secondary: rgba($dark-text-base, 0.88);
$dark-text-tertiary: rgba($dark-text-base, 0.45);

$button-colors: (
  "primary": (
    "background": $light-accent,
    "text": var(--color-accent-base)
  ),
  "secondary": (
    "background": $light-accent-quaternary,
    "text": $dark-accent
  )
);

$disabled-opacity: 0.6;
